@charset "UTF-8";

.skill-section {
   padding-top: 100px;
   padding-bottom: 100px;
   background: var(--dark-background);
}

.skill-section .section-title {
   margin-bottom: 70px;
}

.skill-total-box {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.skill-box {
   position: relative;
   padding-left: 70px;
   display: flex;
   align-items: center;
   width: 48%;
   height: 300px;
   border-radius: 10px;
   overflow: hidden;
}

.skill-box:first-child {
   margin-bottom: 40px;
   width: 100%;
   background: var(--yellow);
}

.skill-box:nth-child(2) {
   background: var(--skyblue);
}

.skill-box:last-child {
   background: var(--green);
}

.skill-box .bg {
   position: absolute;
   left: 0;
   width: 100%;
   opacity: 0.1;
}

.skill-box .text-box {
   position: absolute;
   color: #ffffff;
   font-size: 0.8rem;
}

.skill-box .text-box .title {
   margin: 20px 0;
   font-size: 1.8rem;
}

.skill-box .text-box p {
   line-height: 2;
}
